<!-- include profile.js to add information to bowtie user profiles -->
<script type="text/javascript" src="/js/profile.js"></script>

<div class='form-group'>
  <div id="profile" class="user-profile text-left">
    <div class='form-group'>
      <div class="input">
        <label class="text">
          <i class="fa fa-user"></i>Your Name
        </label>
        <input aria-required="true" class="string text form-control" id="profile_name" maxlength="255" name="profile[name]" placeholder="Jane Smith"  size="255" type="text" />
      </div>
    </div>
    </form>
    <br />
  </div>
</div>
